@using Sale_platform_ele.Models;
@{
    SalerSearchParamModel pm = (SalerSearchParamModel)ViewData["queryParams"];
}

<script type="text/javascript">
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e && e.keyCode == 13) { // enter 键
            $("#checkBt").click();
        }
    };
    $(function () {
        $("#orderList").datagrid({
            fit: true,
            fitColumns: true,
            rownumbers: true,
            singleSelect: true,
            columns: [[
                        { field: 'orderId', title: 'ID', width: 10, hidden: true },
                        { field: 'orderDate', title: '@Html.Lang("order_date")', width: 70 },
                        { field: 'sysNo', title: '@Html.Lang("sys_num")', width: 100 },
    					{ field: 'customerName', title: '@Html.Lang("customer_name")', width: 120 },
    					{ field: 'productName', title: '@Html.Lang("pro_name")', width: 100 },
                        { field: 'productModel', title: '@Html.Lang("pro_model")', width: 120 },
    					{ field: 'qty', title: '@Html.Lang("qty")', width: 70, align: 'right' },
                        { field: 'dealPrice', title: '@Html.Lang("deal_price")', width: 70, align: 'right' },
                        {
                            field: 'auditStatus', title: '@Html.Lang("apply_status")', width: 60, align: 'center',
                            styler: function (value, row, index) {
                                if (value == '申请失败') {
                                    return 'color:red;';
                                } else if (value == '申请成功') {
                                    return 'color:green;';
                                }
                            }
                        }
            ]],
            toolbar: [{
                text: "@Html.Lang("check_detail")",
                iconCls: 'icon-search',
                handler: CheckDetail
            }, '-',
            {
                text: "@Html.Lang("edit_bill")",
                iconCls: 'icon-edit',
                handler: EditOrder
            }, '-',
            {
                text: "@Html.Lang("newFromOld")",
                iconCls: 'icon-add',
                handler: AddNewFromOld
            }, '-', {
                text: "@Html.Lang("check_status")",
                iconCls: 'icon-help',
                handler: ApplierCheckStatus
            }, '-',
            {
                text: "@Html.Lang("export_excel")",
                iconCls: 'icon-xls',
                handler: function () {
                    showTip("正在导出符合查询条件且已审核的数据，请稍等...");
                    $("#fm").form("submit", {
                        url: "@Url.Content("~/File/ExportSalerExcel")",
                        success: function (data) {
                        }
                    });
                }
            }],
            onDblClickRow: CheckDetail
        });

        $("#checkBt").click(function () {
            $.messager.progress();
            $("#fm").form("submit", {
                url: "../Saler/GetBillList",
                success: function (data) {
                    var result = eval("(" + data + ")");
                    $("#orderList").datagrid("loadData", result);
                    $.messager.progress("close");
                }
            });

        });

        $.post("@Url.Content("~/Items/getItems")", { what: "product_type" }, function (data) {
            var pTypes = [{ name: "所有", value: "" }];
            for (var i = 0; i < data.length; i++) {
                pTypes.push({ name: data[i].name, value: data[i].value });
            }
            $("#productType").combobox("loadData", pTypes);
        });

    });

    function ApplierCheckStatus() {
        var row = $("#orderList").datagrid("getSelected");
        if (row) {
            CheckStatus(row.sysNo);
        }
    }

    function CheckDetail() {
        var row = $("#orderList").datagrid("getSelected");
        if (row) {
            window.location.href = "@Url.Content("~/Saler/CheckBill")" + "?sysNo=" + row.sysNo;
        }
    }

    function EditOrder() {
        var row = $("#orderList").datagrid("getSelected");
        if (row) {
            //编辑之前检测是否已开始申请
            $.post("@Url.Content("~/Saler/ApplyHasBegan")", { sysNo: row.sysNo },
            function (data) {
                if (!data.suc) {
                    window.location.href = "@Url.Content("~/Saler/ModifyBill?sysNo=")" + row.sysNo + "&stepVersion=0";
                } else {
                    showTip("@Html.Lang("order_cannot_edit")");
                }
            }, "json");
        }
    }

    function AddNewFromOld() {
        var row = $("#orderList").datagrid("getSelected");
        if (row) {
            window.location.href = "@Url.Content("~/Saler/CreateNewBillFromOld?sysNo=")" + row.sysNo;
        }
    }

</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',collapsed:false,split:true" style="height: 66px; background: #fafafa;
        padding: 1px;">
        <form id="fm" method="post" style="padding:2px 5px;">
            <div>
                <input type="hidden" name="billType" value="@pm.billType" />
                @Html.Lang("sys_num")/@Html.Lang("pro_model"):
                <input class="easyui-textbox" id="searchValue" name="searchValue" style="width: 100px" value="@pm.searchValue" />
                @Html.Lang("order_date"):<input id="fromDate" class="easyui-datebox" name="fromDate" style="width: 90px" value="@pm.fromDate" />
                @Html.Lang("to")
                <input id="toDate" class="easyui-datebox" name="toDate" style="width: 90px" value="@pm.toDate" />
                @Html.Lang("audit_result"):
                <input id="auditResult" name="auditResult" style="width: 80px" class="easyui-combobox" value="@pm.auditResult"
                       data-options="valueField: 'value' ,textField: 'label' ,panelHeight: 'auto',editable:false,
                    data: [
                       {label: '所有' ,value: '10'},{label: '未完成' ,value: '0'},{label: '成功' ,value: '1'},{label: '失败' ,value: '-1'}
                       ]" />
            </div>
            <div style="margin-top:2px;">
                @Html.Lang("buy_customer"):
                <input class="easyui-textbox" id="customerName" name="customerName" style="width: 140px" value="@pm.customerName" />
                @Html.Lang("pro_type"):
                <input class="easyui-combobox" id="productType" name="productType" style="width: 80px" editable="false"
                       panelheight="auto" valuefield="value" textfield="name" value="@pm.productType" />
                @Html.Lang("sale_range"):
                <input class="easyui-combobox" style="width: 80px" name="saleRange" id="saleRange" value="@pm.saleRange"
                       data-options="textField:'name',valueField:'value',panelHeight:'auto', editable:false,
                                               data:[
                                               {name:'所有', value:''},{name:'内销',value:'内销'},{name:'外销',value:'外销'}
                                               ]" />

                <a id="checkBt" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="padding-left:24px;padding-right:24px;">
                    @Html.Lang("search")
                </a>
            </div>
        </form>
    </div>
    <div data-options="region:'center'">
        <table id="orderList"></table>
    </div>
</div>

@Html.Partial("_CheckAuditStatus")