@using Sale_platform_ele.Models;
@{
    SalerSearchParamModel pm = (SalerSearchParamModel)ViewData["queryParams"];
}

<script type="text/javascript">
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e && e.keyCode == 13) { // enter 键
            $("#checkBt").click();
        }
    };
    $(function () {
        $("#orderList").datagrid({
            fit: true,
            fitColumns: true,
            rownumbers: true,
            singleSelect: true,
            columns: [[
                        { field: 'orderId', title: 'ID', width: 10, hidden: true },
                        { field: 'orderDate', title: '@Html.Lang("order_date")', width: 70 },
                        { field: 'sysNo', title: '@Html.Lang("sys_num")', width: 100 },
    					{ field: 'customerName', title: '@Html.Lang("customer_name")', width: 120 },
    					{ field: 'productName', title: '@Html.Lang("pro_name")', width: 100 },
                        { field: 'productModel', title: '@Html.Lang("pro_model")', width: 120 },
    					{ field: 'qty', title: '@Html.Lang("qty")', width: 70, align: 'right' },
                        { field: 'dealPrice', title: '@Html.Lang("deal_price")', width: 70, align: 'right' },
                        {
                            field: 'auditStatus', title: '@Html.Lang("apply_status")', width: 60, align: 'center',
                            styler: function(value,row,index){
                                if (value == '申请失败'){
                                    return 'color:red;';
                                } else if (value == '申请成功') {
                                    return 'color:green;';
                                }
                            }}
            ]],
            toolbar: [{
                text: "@Html.Lang("check_detail")",
                iconCls: 'icon-search',
                handler: CheckDetail
            }, '-',
            {
                text: "@Html.Lang("edit_bill")",
                iconCls: 'icon-edit',
                handler: EditOrder
            }, '-',
            {
                text: "@Html.Lang("newFromOld")",
                iconCls: 'icon-add',
                handler: AddNewFromOld
            }, '-', {
                text: "@Html.Lang("check_status")",
                iconCls: 'icon-help',
                handler: ApplierCheckStatus
            }, '-',
            {
                text: "@Html.Lang("export_excel")",
                iconCls: 'icon-xls',
                handler: function () {
                    showTip("正在导出符合查询条件且已审核的数据，请稍等...");
                    $("#fm").form("submit", {
                        url: "@Url.Content("~/File/ExportSalerExcel")",
                        success: function (data) {
                        }
                    });
                }
            }],
            onDblClickRow:CheckDetail
        });

        $("#checkBt").click(function () {
            $.messager.progress();
            $("#fm").form("submit", {
                url: "../Saler/GetBillList",
                success: function (data) {
                    var result = eval("(" + data + ")");
                    $("#orderList").datagrid("loadData", result);
                    $.messager.progress("close");
                }
            });

        });
    });

    function ApplierCheckStatus() {
        var row = $("#orderList").datagrid("getSelected");
        if (row) {
            CheckStatus(row.sysNo);
        }
    }

    function CheckDetail(){
        var row=$("#orderList").datagrid("getSelected");
        if(row){
            window.location.href = "@Url.Content("~/Saler/CheckBill")" + "?sysNo=" + row.sysNo;
        }
    }

    function EditOrder(){
        var row = $("#orderList").datagrid("getSelected");
        if (row) {
            //编辑之前检测是否已开始申请
            $.post("@Url.Content("~/Saler/ApplyHasBegan")", { sysNo: row.sysNo },
            function(data){
                if(!data.suc){
                    window.location.href = "@Url.Content("~/Saler/ModifyBill?sysNo=")" + row.sysNo + "&stepVersion=0";
                } else {
                    showTip("@Html.Lang("order_cannot_edit")");
                }
            },"json");
        }
    }

    function AddNewFromOld() {
        var row = $("#orderList").datagrid("getSelected");
        if (row) {
            window.location.href = "@Url.Content("~/Saler/CreateNewBillFromOld?sysNo=")" + row.sysNo;
        }
    }

</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',collapsed:false,split:true" style="height: 40px; background: #fafafa;
        padding: 1px;">
        <form id="fm" method="post" style="padding:2px 5px;">
            <input type="hidden" name="billType" value="@pm.billType"/>
            @Html.Lang("sys_num")/@Html.Lang("pro_model"):
            <input class="easyui-textbox" id="searchValue" name="searchValue" style="width: 100px" value="@pm.searchValue" />
            @Html.Lang("order_date"):<input id="fromDate" class="easyui-datebox" name="fromDate" style="width: 90px" value="@pm.fromDate" />
            @Html.Lang("to")
            <input id="toDate" class="easyui-datebox" name="toDate" style="width: 90px" value="@pm.toDate" />
            @Html.Lang("audit_result"): <input id="auditResult" name="auditResult" style="width: 80px" class="easyui-combobox" data-options="
               valueField: 'value' ,
               textField: 'label' ,
               panelHeight: 100,
               editable:false,
               value:'@pm.auditResult',
               data: [{
               label: '@Html.Lang("all")' ,
               value: '10'
               },{
               label: '@Html.Lang("not_finish")' ,
               value: '0'
               },{
               label: '@Html.Lang("success")' ,
               value: '1'
               },{
               label: '@Html.Lang("failure")' ,
               value: '-1'
               }]" />
            <a id="checkBt" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
                @Html.Lang("search")
            </a>
        </form>
    </div>
    <div data-options="region:'center'">
        <table id="orderList"></table>
    </div>
</div>

@Html.Partial("_CheckAuditStatus")