<script type="text/javascript">
    var currentRow;
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e && e.keyCode == 13) { // enter 键
            $("#checkBt").click();
        }
    };
    $(function () {
        $("#orderList").datagrid({
            fit:true,
            //width: 1850,
            //fitColumns: true,
            rownumbers: true,
            singleSelect: true,
            idField: "chDetailId",
            columns: [[
                        {
                            field: 'hasPrint', title: '已打印', width: 60, align: 'center',
                            styler: function (value, row, index) {
                                if (value == "Y") {
                                    return 'color:green;';
                                } else {
                                    return 'color:red;';
                                }
                            },
                        },
                        { field: 'billDate', title: '制单日期', width: 120 },
                        { field: 'k3StockNo', title: '出库编号', width: 120 },
    					{ field: 'customerName', title: '客户名称', width: 160 },
    					{ field: 'itemName', title: '产品名称', width: 140 },
                        { field: 'itemModel', title: '规格型号', width: 160 },
                        //{ field: 'productType', title: '产品类别', width: 60 },
    					{ field: 'applyQty', title: '出货数量', width: 70 },
                        { field: 'unitName', title: '单位', width: 60 },
                        { field: 'orderNo', title: '订单编号', width: 140 },
                        { field: 'orderEntryNo', title: '订单行号', width: 60 },
                        { field: 'sysNo', title: '申请流水号', width: 120 },
                        { field: 'packs', title: '件数', width: 60 },
                        { field: 'cardboardNum', title: '叉板数', width: 70 },
                        { field: 'cycle', title: '周期', width: 80 },
                        { field: 'deliveryNumber', title: '快递单号', width: 90 },
                        { field: 'itemComment', title: '备注', width: 120 },
                        { field: 'billName', title: '制单人', width: 70 }
            ]],
            toolbar: [{
                text: "出货申请详情",
                iconCls: 'icon-search',
                handler: CheckDetail
            }, {
                text: "录入其它信息",
                iconCls: 'icon-edit',
                handler: OpenUpdateInfoWin
            }, {
                text: "出货报表excel",
                iconCls: 'icon-xls',
                handler: ExportExcel
            }, {
                text: "打印送货单",
                iconCls: 'icon-print',
                handler: PrintReport
            }],
            onDblClickRow: OpenUpdateInfoWin
        });
        

        $("#checkBt").click(function () {            
            $.messager.progress();
            $("#fm").form("submit", {
                url: "../CHSP/GetStockTeamReport",
                success: function (data) {
                    var result = eval("(" + data + ")");
                    if (result.suc) {
                        $("#orderList").datagrid("loadData", result.result);
                    } else {
                        $("#orderList").datagrid("loadData", []);
                        showTip(result.msg);
                    }
                    $.messager.progress("close");
                }
            });

        });

    });    

    function PrintReport() {
        var row = $("#orderList").datagrid("getSelected");
        if (row) {            
            if (row.k3StockNo == "") {
                showTip("未生成销售出库单号，不能打印送货单");
                return;
            }
            window.open("@Url.Content("~/File/PrintChReport?sysNo=")" + row.sysNo);
        }
    }

    function ExportExcel() {
        showTip("数据正在准备中，请等待...");
        $("#fm").form("submit", {
            url: "../File/ExportStockTeamExcel",
            success: function (data) {}
        });
    }

    function OpenUpdateInfoWin() {
        var row = $("#orderList").datagrid("getSelected");
        if (row) {
            if (row.k3StockNo == "") {
                showTip("未生成销售出库单号，不能录入其它信息");
                return;
            }
            currentRow = row;
            $("#pack_dlg").dialog("open");
            $("#packs").numberbox("setValue", row.packs);
            $("#cardboardNum").numberbox("setValue", row.cardboardNum);
            $("#cycle").textbox("setValue", row.cycle);
            $("#deliveryNumber").textbox("setValue", row.deliveryNumber);
            $("#itemComment").textbox("setValue", row.itemComment);
        }
    }

    function SavePackInfo() {
        var packs = $("#packs").numberbox("getValue");
        var cardboardNum = $("#cardboardNum").numberbox("getValue");
        var cycle = $("#cycle").textbox("getValue");
        var deliveryNumber = $("#deliveryNumber").textbox("getValue");
        var itemComment = $("#itemComment").textbox("getValue");

        if (packs == "") {
            showTip("必须录入件数");
            return;
        }

        if (cardboardNum == "") {
            showTip("必须录入叉板数");
            return;
        }

        $.post("@Url.Content("~/CHSP/UpdateStockPackInfo")", {
            detailId: currentRow.chDetailId,
            deliveryNumber: deliveryNumber,
            cardboardNum: cardboardNum,
            packs: packs,
            cycle: cycle,
            itemComment:itemComment
        }, function (data) {
            if (data.suc) {
                currentRow.deliveryNumber = deliveryNumber;
                currentRow.cardboardNum = cardboardNum;
                currentRow.packs = packs;
                currentRow.cycle = cycle;
                currentRow.itemComment = itemComment;

                var currentIndex = $("#orderList").datagrid("getRowIndex", currentRow);                

                $("#orderList").datagrid("updateRow", {
                    index: currentIndex,
                    row: currentRow
                });
                $("#orderList").datagrid("refreshRow", currentIndex); //updateRow 之后必须refleshRow才会刷新

                $("#pack_dlg").dialog("close");
                showTip("保存成功");
            } else {
                showTip("保存失败："+ data.msg);
            }
        });

    }

    function CheckDetail() {
        var row = $("#orderList").datagrid("getSelected");
        if (row) {            
            window.open("@Url.Content("~/Saler/CheckBill?sysNo=")" + row.sysNo);
        }
    }

</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',collapsed:false,split:true" style="height: 65px; background: #fafafa;
        padding: 1px;">
        <form id="fm" method="post" style="padding:2px 5px;">
            <table>
                <tr>
                    <td>
                        购货客户:
                    </td>
                    <td>
                        出库单日期:
                    </td>
                    <td>
                        到:
                    </td>
                    <td>
                        订单号:
                    </td>
                    <td>
                        规格型号:
                    </td>
                    <td>
                        出库单号:
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="easyui-textbox" id="customer" name="customer" style="width: 100px" />
                    </td>
                    <td>
                        <input id="fromDate" class="easyui-datebox" name="fromDate" style="width: 90px" value="@(DateTime.Now.AddDays(-3).ToString("yyyy-MM-dd"))" />
                    </td>
                    <td>
                        <input id="toDate" class="easyui-datebox" name="toDate" style="width: 90px" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </td>
                    <td>
                        <input class="easyui-textbox" id="orderNo" name="orderNo" style="width: 100px" />
                    </td>
                    <td>
                        <input class="easyui-textbox" id="productModel" name="productModel" style="width: 100px" />
                    </td>
                    <td>
                        <input class="easyui-textbox" id="stockNo" name="stockNo" style="width: 100px" />
                    </td>
                    <td>
                        <a id="checkBt" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
                    </td>
                </tr>
            </table>            
        </form>
    </div>
    <div data-options="region:'center'">
        <table id="orderList"></table>
    </div>
</div>

<div id="pack_dlg" class="easyui-dialog" style="width:400px;padding:10px 20px" title="出货额外信息维护" closed="true" buttons="#dlg-buttons">
    <div class="ftitle">录入其它信息</div>    
        <div class="fitem">
            <label>件数:</label>
            <input id="packs" class="easyui-numberbox" />
        </div>
        <div class="fitem">
            <label>叉板数:</label>
            <input id="cardboardNum" class="easyui-numberbox"  />
        </div>   
        <div class="fitem">
            <label>周期:</label>
            <input id="cycle" class="easyui-textbox" />
        </div>
        <div class="fitem">
            <label>快递单号:</label>
            <input id="deliveryNumber" class="easyui-textbox"  />
        </div>   
        <div class="fitem">
            <label>备注:</label>
            <input id="itemComment" class="easyui-textbox"  />
        </div>  
</div>

<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="SavePackInfo()">@Html.Lang("save")</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript: $('#pack_dlg').dialog('close')">@Html.Lang("cancel")</a>
</div>